@function is-map($map){
  /* returns true if variable is a map */
  @return type-of($map) == 'map';
}

%clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

%hidden {
  position: absolute;
  left: -9999px;
  top: 0;
}

.hide-desktop {
  @media screen and (min-width: $min-tablet) {
    display: none!important;
  }
}

.hide-tablet {
  display: none!important;

  @media screen and (min-width: $min-tablet) {
    display: inline-block!important;
  }
}

.hide-mobile {
  display: none!important;  

  @media screen and (min-width: $min-mobile) {
    display: inline-block!important;
  }
}

.no-padding {
  padding: 0;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}